@font-face {
    font-family: 'Mallow';
    src: url(fonts/Mallow.otf);
}

h2 {
    font-family: Mallow, "Bradley Hand", cursive;
    font-size: 74px;
    font-weight: 200;
    text-align: center;
}

p {
    font-family: Mallow, "Bradley Hand", cursive;
}

body {
    background-color: #fffaf0;
}
