@font-face {
    font-family: 'Mallow';
    src: url(fonts/Mallow.otf);
}

h1 {
    font-family: Mallow, "Bradley Hand", cursive;
    font-size: 74px;
    font-weight: 200;
    text-align: center;
    color: #080302;
}

p {
    font-family: Mallow, "Bradley Hand", cursive;
    font-size: 36px;
    text-align: center;
    color: 080302;
}

body {
    background: url("images/texture3.png");
    background-color: #f6c7b1;
    
}

.top {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pictures {
    border-radius: 8px;
}

#buyable:hover {
    opacity: 60%;
}

li {
    display: inline;
    
}

#companyLinks menu {
    text-align:center;
    width: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    color: #7461A2;
    font-weight: 150;
}

footer {
    font-family: "Bradley Hand", cursive;
    font-size: 12px
    position: absolute;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
